@model ImageGallary.Data.Model.GalleryImage
        
    <div class="container body-content">
        <div class="row image-detail-container">
            <div class="image-detail" style="background-image:url(@Model.Url)" alt="@Model.Title"></div>
        </div>
        <div class="row">
            @if (Model.UserName != null)
            {
                <span>Author : @Model.UserName &nbsp </span>
            }
            <span>Title :  @Model.Title &nbsp</span>
            <span>Upload :  @Model.ImageCreated &nbsp</span
            <span> 
            Tags:
             @foreach (var tag in Model.Tags.ToList())
            {
                <a asp-action="CurrentTagImages" asp-controller="ImageGallery" asp-route-tag="@tag.Description">@tag.Description</a><a>&nbsp</a>
            }
            </span>
        </div>
    </div>        
            <a class="btn btn-dark btn-primary" asp-controller="ImageGallery" asp-action="Index">Return back</a>
            @if ((Model.UserName != null && Model.UserName != "Аноним"))
            { 
            
            <a class="btn btn-warning " asp-controller="Image" asp-action="UpdateImage" asp-route-id="@Model.Id">Update Image</a>
            <a class="btn btn-danger" asp-controller="Image" asp-action="Delete" asp-route-id="@Model.Id">Delete</a>
            }
